In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [14]:
df = pd.read_csv('data/Salary.csv')

In [15]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [16]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [27]:
x = df['YearsExperience']
y = df['Salary']

In [66]:
x.shape

(30, 1)

In [67]:
y.shape

(30, 1)

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

In [72]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

pred_dt = dt.predict(X_test)

print("\n--- Decision Tree Regressor ---")
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

--- Decision Tree Regressor ---
평균제곱근오차 6607.308529197044

In [73]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train.stack())  # expected 1D

pred_rf = rf.predict(X_test)

print("\n--- RandomForestRegressor ---")
mse = np.sqrt(mean_squared_error(pred_rf, X_test))
print('평균제곱근오차', mse)

--- RandomForestRegressor ---
평균제곱근오차 81555.49406342192

In [74]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

pred_lr = lr.predict(X_test)

print("\n--- LinearRegressor ---")
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

--- LinearRegressor ---
평균제곱근오차 6380.445222574524

In [75]:
from sklearn.svm import SVR

svm = SVR()
svm.fit(X_train, y_train.stack())  # expected 1D

pred_svm = svm.predict(X_test)

print("\n--- SVMRegressor ---")
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

--- SVMRegressor ---
평균제곱근오차 24021.071953006227